
body {
    padding-top: 80px;
}

#footer {
    margin: 5em 0;
}

#footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

@media (min-width: 992px)
bootstrap.css:7167
.float-lg-right {
    float: right !important;
}
