{% extends 'basic_app/basic_app_base.html' %}
{% load staticfiles %}

{% block title_block %}
  Movies
{% endblock%}

{% block breadcrumb_block %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Movies</li>
  </ol>
{% endblock%}

{% block body_block %}
  <h3>Movies List</h3>
  {% if user.is_authenticated and user.is_superuser %}
    <p><a  href="{% url 'create' %}"> Create a new movie</a></p>
  {% endif %}

  {% if movies %}

      {% for item in movies %}
        <div name='movie-list' class="row">
          <div class="media-left">
            <img name='movie-image' class="media-object" style="width: 150px;" src="{{ item.imgurl }}" alt="img">
          </div>
          <div class="media-body">
            <h4 name='moive-title' class="media-heading"><a href="{{item.pk}}">{{ item.title }} ({{ item.year }}) </a></h4>
            {% with item.rate|stringformat:"i" as rate %}
              {% if rate in "8" %}
                <p> <span class='text-success'><i class="fa fa-star" aria-hidden="true"></i> <b name='movie-rates' >{{ item.rate }}</b> </span> &emsp;|&emsp; <span name='movie-genres'>Genre: {% for genre in item.genres.all %}{{ genre }} {% endfor %}</span></p>
              {% else %}
                <p> <span class='text-warning'><i class="fa fa-star" aria-hidden="true"></i> <b>{{ item.rate }}</b> </span> &emsp;|&emsp; Genre: {% for genre in item.genres.all %}{{ genre }} {% endfor %}</p>
              {% endif %}
            {% endwith %}

            <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Votes: {{ item.votes }} &emsp;|&emsp; <i class="fa fa-hourglass" aria-hidden="true"></i> Runtime: {{ item.runtime }} min</p>
            <p>{{ item.desc }}</p>
          </div>
        </div>
       {% endfor %}

      <div>

    <ul class="pagination">

      {% if movies.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ movies.previous_page_number }}">&laquo;</a>
        </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="#"> {{ movies.number }} / {{ movies.paginator.num_pages }}</a>
      </li>

      {% if movies.has_next %}
        <li class="page-item">
         <a class="page-link" href="?page={{ movies.next_page_number }}">&raquo;</a>
       </li>
      {% endif %}

    </ul>
</div>

  {% else %}
   <p>No records!</p>
  {% endif %}

{% endblock%}
